apiVersion: v1
kind: Service
metadata:
  name: flarum
  labels:
    app: flarum
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: flarum
