body {
	background-color: #ffffff;
	font-family: sans-serif;
}


/* LOGO AREA */

#logo {
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	max-height: 200px; 
}

#logo img {
	width: auto;
	max-height: 200px; 
	height: auto;
}

#logo h1 {
	position: absolute;
	right: -5%;
	bottom: -5%;
	color: #000000;
	font-family: sans-serif;
}


/* PLATFORM CREATION AREA */

#new-project {
	position: absolute;
	margin-top: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#title {
	margin-left: 20px;
}

.apps {
	display: block;
}

#apps {
	width: 100px;
	height: 100px;
	border: solid #1f628d 2px;
	margin: 5px;
	float: left;
}

/* BUILD BUTTON */

#buildbutton-container {
	position: relative;
}

#buildbutton {
	font-family: sans-serif;
	color: #ffffff;
	font-size: 22px;
	background: #3498db;
	padding: 10px 25px 10px 25px;
	border: solid #1f628d 2px;
	text-decoration: none;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 20px;
}

#buildbutton:hover {
  background: #3cb0fd;
  text-decoration: none;
}


/* RUNNING PROJECTS AREA */

.project-area {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #000000;
	left: 50%;
	transform: translate(-50%);
}

.project-container {
	position: absolute;
	left: 50%;
  	transform: translate(-50%);
  	bottom: 0;
  	display: block;
}

#project {
	width: auto;
	height: auto;
	max-height: 200px;
	padding: 2%;
	background-color: #ffffff;
	margin: 5px;
  	border: solid #000000 2px;
  	float: left;
}

#project-element {
	border: solid #1f628d 2px;
	margin: 2px;
	padding: 2px;
}