apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    name: wordpress
  name: wordpress-controller
spec:
  replicas: 1
  selector:
    app: wordpress
  template:
    metadata:
      name: wordpress
      labels:
        app: wordpress
    spec:
      containers:
      - name: wordpress
        image: wordpress
        ports:
        - containerPort: 80
        